@use '../../../styles/utils/vars';

.page {
  justify-items: center;
  color: vars.$c-teal-dark-100;
  background-color: vars.$c-light-teal-10;
  height: 100%;
  

  &__container {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: vars.$c-white;
    border: 1px solid vars.$c-gray-40;
    border-radius: 15px;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    
  }

  &__image {
    display: block;
    width: 25px;
    height: 100%;
    cursor: pointer;
    background-color: vars.$c-light-teal-10;
    color: vars.$c-light-teal-10;
    // padding-right: ;
  }
}