@use '../../utils/vars';

.page {
  box-sizing: border-box;
  flex-direction: column;
  gap: 8px;

  &__nav {
    background-color: vars.$c-gray-10;
    width: 100%;
    justify-content: center;
    height: 80px;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 0 0 15px 15px;
  }

  &__link {
    text-align: center;
    align-content: center;
    color: vars.$c-gray-60;
    text-decoration: none;
    min-width: 120px;
    min-height: 24px;
    border: 1px solid vars.$c-primary-teal;
    background-color: vars.$c-light-teal-30;
    border-radius: 5px;
    transition: 0.4s ease-in-out;


    &:hover {
      transform: scale(1.1);
      color: vars.$c-white;
      background-color: vars.$c-primary-teal;
      border-color: vars.$c-light-teal-30;
    }
  }
}