$c-white: #fff;

$c-gray-100: #1d1d1F;
$c-gray-60: #4f4f51;
$c-gray-50: #818183;
$c-gray-40: #b4b4b4;
$c-gray-30: #cdcdcd;
$c-gray-10: #f1f2f2;

$c-primary-teal: #006666;
$c-teal-50: #729292;
$c-teal-dark-100: #103d3f;
$c-light-teal-30: #c6dddd;
$c-light-teal-10: #e3eeee;

$c-blue: #364fc7;
$c-green: #2b8a3e;
$c-yellow: #EDB63F;
$c-red: #c92a2a;
$c-secondary-red: #feeeee;
$c-teal-100: #006666;

$transition-time: 0.4s;